/* ---------------------------------
-- coffeee art blog
----------------------------------- */

#coffeeart {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

/* Container and Grid Styling */
.media-grid .container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


.media-grid .container .col-lg-3 {
  overflow: hidden;
  border-radius: 15px;
}

.media-grid .container img {
  border-radius: 15px;
  width: auto;
}

.media-grid .container img:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}


